/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #ebedf0;
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
}

.budget-logo {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: 5px;
}

.fa-user-circle {
  font-size: 30px;
  color: rgb(247, 191, 8);
  margin: 8px;
}

.bg-color {
  background-color: #3778c2;
  height: 95px;
}

.header {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.expense {
  letter-spacing: 1px;
  font-weight: normal;
  color: #434b54;
}

.category {
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
  color: #434b54;
}

.total-budget {
  color: #434b54;
  margin-bottom: 20px;
}

.field {
  margin-left: 25%;
  margin-right: 25%;
}

.actions {
  margin-left: 25%;
  margin-right: 25%;
}

.group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fb523;
  padding: 10px;
  width: 40%;
  margin-bottom: 20px;
}

.underline {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
}

.expense-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.icon-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 25px;
}

.log-btn {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-bottom: 10px;
  outline: 0;
  transition: all 0.5s linear;
}

.log-btn:hover {
  background: #0077b3;
  box-shadow: 0 5px 0 #006599;
  transform: translateY(2px);
}

.log-btn:active {
  background: #069;
  box-shadow: 0 0 0 #006599;
  transform: translateY(3px);
}

a {
  text-decoration: none;
}
