<div class="card ms-0 mt-3 shadow p-3 mb-5 bg-body rounded">
  <div class="list-group card-body d-flex justify-content-between align-items-center gap-2">
    <div>
      <h6 class="card-title">Name: <%= expense.name %></h6>
      <h6 class="card-title">Amount: <%= number_to_currency(expense.amount) %></h6>
    </div>
    <div class="d-flex gap-4">
      <%= button_to "Delete", user_group_expense_path(current_user, @group, expense), method: :delete, class: 'btn btn-danger p-2' %>
    </div>
  </div>
</div>
